<p id="notice"><%= notice %></p>

<div id="paginator_top">
  <%= paginate(@torrents, :remote => true) %>
</div>
<table class="torrents-table table table-striped">
  <thead>
  <tr>
    <th><%= t 'title' %></th>
    <th><%= t 'description' %></th>
    <th><%= t 'size' %></th>
    <th><%= t 'seeds' %></th>
    <th><%= t 'leech' %></th>
    <th><%= t 'images' %></th>
    <th><%= t 'category' %></th>
    <th><%= t 'other' %></th>
    <th><%= t 'href' %></th>
    <th><%= t 'magnet' %></th>
  </tr>
  </thead>
  <tbody id="torrents">
  <%= render @torrents %>
  </tbody>
</table>

<div id="paginator_bottom">
  <%= paginate(@torrents, :remote => true) %>
</div>