<p id="notice"><%= notice %></p>

<%= render 'searchbox' %>

<table class="torrents-table table table-striped">
  <thead>
    <tr>
      <th><%= t 'title' %></th>
      <th><%= t 'description' %></th>
      <th><%= t 'size' %></th>
      <th><%= t 'seeds' %></th>
      <th><%= t 'leech' %></th>
      <th><%= t 'images' %></th>
      <th><%= t 'category' %></th>
      <th><%= t 'href' %></th>
      <th><%= t 'magnet' %></th>
    </tr>
  </thead>

  <tbody>
    <% @torrents.each do |torrent| %>
      <tr>
        <td><%= torrent.title %></td>
        <td><%= torrent.description %></td>
        <td><%= torrent.size %></td>

        <td><%= torrent.seeds %></td>
        <td><%= torrent.leech %></td>
        <td><%= torrent.images %></td>
        <td><%= torrent.category %></td>
        <td>
          <a href="<%= torrent.href %>">
            Go to site
          </a>
        </td>
        <td>
          <a href="<%= torrent.magnet %>">
            <img class="download-button" src="/images/download.png">
          </a>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

