<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @torrent.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @torrent.description %>
</p>

<p>
  <strong>Size:</strong>
  <%= @torrent.size %>
</p>

<p>
  <strong>Href:</strong>
  <%= @torrent.href %>
</p>

<p>
  <strong>Magnet:</strong>
  <%= @torrent.magnet %>
</p>

<p>
  <strong>Seeds:</strong>
  <%= @torrent.seeds %>
</p>

<p>
  <strong>Leech:</strong>
  <%= @torrent.leech %>
</p>

<p>
  <strong>Images:</strong>
  <%= @torrent.images %>
</p>

<p>
  <strong>Category:</strong>
  <%= @torrent.category %>
</p>

<%= link_to 'Edit', edit_torrent_path(@torrent) %> |
<%= link_to 'Back', torrents_path %>
