<!DOCTYPE html>
<html>
<head>
  <title>Metatracker</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render 'shared/banner_top' %>
  <div class="body-wrapper container-fluid">
    <%= yield %>
    <%= render 'footer' %>
  </div>
  <%= render 'shared/banner_bottom' %>
  <%= render 'application/analytics' %>
</body>
</html>
